<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9b4bb03-2e7b-42b4-9dec-8c1c766002d3" Alias="New Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewHome</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-23T14:39:08</CreateDate>
    <NodeName Default="New Home" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="907d26a5-c929-4c69-bb1d-0d0d5342d6f6">home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialIconLinks>
      <Value><![CDATA[]]></Value>
    </socialIconLinks>
    <subtitle>
      <Value><![CDATA[What should we put here?]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[New Home]]></Value>
    </title>
  </Properties>
</Content>